{% extends 'tabTrunkApp/base.html' %}
{% load url from future %}

{% block optionalCSS %}
    <link href="{{ STATIC_URL }}css/jquery.dataTables.css" rel="stylesheet" media="screen">
{% endblock %}

{% block secondary_nav %}
<hr>
{% endblock %}




{% block content %}

  {% if form.errors %}
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    Best check yo self, before you wreck yo self.<br>
    Invalid username or password.
    </div>
  {% endif %}


  <div class="row-fluid">
    <div class="span12">
        <div class="span6">
            <div class="area">
                <form class="form-horizontal" method="post" action="">
                {% csrf_token  %}
                <div class="heading">
                    <h4 class="form-heading">Sign In</h4>
                </div>
                <div class="control-group">
                <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" name="username" id="username" placeholder="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" placeholder="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-success" value="login" />
                        <input type="hidden" name="next" value="{{ next|escape }}" />
                    </div>
                </div>


                </form>
            </div>
        </div>
        <div class="span6">
            <div class="area">
                <form class="form-horizontal">
                    <div class="heading">
                        <h4 class="form-heading">Sign Up</h4>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputUser">Username</label>
                        <div class="controls">
                            <input type="text" id="inputUser" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFirst">First Name</label>
                        <div class="controls">
                            <input type="text" id="inputFirst" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLast">Last Name</label>
                        <div class="controls">
                            <input type="text" id="inputLast" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" placeholder="Min. 8 Characters">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!--
  <form action="" method="post">
  {% csrf_token  %}

    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" class="btn btn-success" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
-->

{% endblock %}