  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 900px;
  }

  .container-narrow > hr {
    margin: 15px 0;
  }

  h2 {
    line-height: 25px;
  }