{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>
    {% block head_title %}
    TAB TRUNK
    {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block mainCSS %}
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/tabTrunk.css" rel="stylesheet" media="screen">
    {% endblock %}

    {% block optionalCSS %}

    {% endblock %}

{% block mainScripts %}
<!--
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery-2.0.1.js"></script>
-->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% endblock %}

{% block optionalScripts %}

{% endblock %}

</head>


<body>
<div class="container-narrow">

    {% block top_nav %}

          <div class="masthead">
            <ul class="nav nav-pills pull-right">
              <li><a href="/accounts/logout/">Logout <i class="icon-off"></i></a></li>
            </ul>
            <h3 class="muted">tabTrunk</h3>
          </div>

    {% endblock %}

    {% block secondary_nav %}
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'new' %}">New</a></li>
        </ul>
    {% endblock %}

    {% block error_msg %}
    {% endblock %}

    {% block msg %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    <hr>
    {% block footer %}
    tabTrunk
    {% endblock %}
</div>

</body>
</html>
