{% extends 'tabTrunkApp/base.html' %}
{% load url from future %}

{% block optionalCSS %}
{% endblock %}

    {% block secondary_nav %}
        <ul class="nav nav-tabs">
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
    {% endblock %}




{% block content %}

  {% if form.errors %}
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    Best check yo self, before you wreck yo self.<br>
    Invalid username or password.
    </div>
  {% endif %}


  <div class="row-fluid">
    <div class="span12">
        <div class="span6">
            <div class="area">
                <form class="form-horizontal" action="/tabs/changePassword/" method="post">
                    {% csrf_token  %}
                    <div class="heading">
                        <h4 class="form-heading">Change Password</h4>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="inputPassword" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputNewPassword">New Password</label>
                        <div class="controls">
                            <input type="password" id="inputNewPassword" name="inputNewPassword" placeholder="Min. 8 Characters">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputNewPasswordConfirm">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="inputNewPasswordConfirm" name="inputNewPasswordConfirm" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" id="submit" name="submit" value="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}