{% extends 'tabTrunkApp/base.html' %}
{% load url from future %}

{% block optionalCSS %}
    <link href="{{ STATIC_URL }}css/jquery.dataTables.css" rel="stylesheet" media="screen">
{% endblock %}

{% block optionalScripts %}
    <script type="text/javascript" language="JavaScript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="JavaScript">
$(document).ready(function() {
    /*
    $('#tabTable').dataTable( {
        "sDom": '<"toolbar">frtip'
    } );
    $("div.toolbar").html('');
    } );
    */
    //$('#tabTable').dataTable()
    $(document).ready(function() {
        $('#tabTable').dataTable( {
            "bPaginate": false,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "sDom": '<"toolbar">frtip'
        } );
        //$("div.toolbar").html('');
    } );

});
    </script>
{% endblock %}




{% block content %}

{% if tab_list %}

    <table id="tabTable" class="table table-striped">
        <thead>
        <tr>
            <td></td>
            <td>Artist</td>
            <td>Song Title</td>
            <td>Ability</td>
        </tr>
        </thead>
        <tbody>
            {% for tab in tab_list %}
                <tr>
                    <td><a href="{% url 'detail' tab.id %}">view</a></td>
                    <td>{{ tab.artist }}</td>
                    <td>{{ tab.songTitle }}</td>
                    <td>{{ tab.get_ability_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        &nbsp;
        <a class="btn btn-medium btn-success pull-right" href="{% url 'new' %}">New</a>
    </div>



{% else %}
    <p>No tabs are available.</p>
{% endif %}

{% endblock %}